@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CustomFont;
  src: url("../src/assets/Font/technocharmdemoversionregular-alazm.otf")
    format("opentype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;

  background: linear-gradient(
    180deg,
    #060f11 0%,
    #0b1a1d 57.277590090090094%,
    rgba(11, 26, 29, 1) 97.74774774774775%
  );
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #aaff85;
  border-radius: 10px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 100, "wght" 400, "GRAD" 0, "opsz" 24;
}
